# Dependencies
node_modules/
.venv/
venv/

# Environment
.env
*.local

# Datasets & Database raw data
Dataset/
dataset/
datasets/
*.sqlite3
*.db

# Build artifacts
dist/
build/
*.py[cod]
__pycache__/

# Logs & caches
*.log
.pytest_cache/
.coverage
htmlcov/

*.pdf   
.vscode/
